.presentation{
    position: relative;
    width : 100vw;
    height : 100vh;
    background-color: rgb(215, 215, 190);
    margin-top : 0%;
    background-image: url("../../assets/office.jpg");

    &__background{
        position : relative;
        background-attachment: fixed;
    
    }
    &__container{
        display: flex;
        width: 80%;
        height: 25%x;
        margin-top: 50%;
        margin-left: auto;
        margin-right: auto;
        
        
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        background-color: rgba(199, 199, 191, 0.6);
        border-radius: 10px;
        
 
    }

    &__text{
        width: 50%;
        height: 100%;
        color: rgb(25, 25, 101);
        display : flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
           
    }

    &__name{
        font-weight: bold;
        font-size: 18px;
        border-bottom: solid 2px rgb(127, 158, 152);
    }

    &__job{
        margin: 0%;
        font-size: 13px;
        font-weight: bold;
    }

    &__availability{
        margin: 0%;
        font-size: 10px;
        font-style: italic;
        border-bottom: 1mm ridge rgba(127, 158, 152, 0.25);
    }

    &__city{
        margin: 0%;
        font-size: 10px;
        text-align: center;
        font-style: italic;
        border-bottom: 1mm ridge rgba(127, 158, 152, 0.25);
    }

    &__download{
        font-size: 9px;
        font-style: italic;
    }

    &__image{
        width: 50%;
        max-height:100%;
        border-left : solid 2px rgb(31,31,101); 
        padding : none;
        border-radius: 10px;

    }

    &__logos{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5%;
    }
    &__logo{
        width : 20px;
    }



@media screen and (min-width: 530px){
  
    .presentation{
        
    &__container{
        margin-top: 30%;
    }
   

    &__name{
        font-size: 25px;
    }

    &__job{
        font-size: 20px;
    }

    &__download{
        font-size: 16px;
    }
    
    &__availability{
        font-size: 17px;
    }

    &__city{
        font-size: 17px;
    }

    &__logo{
        width : 30px;
    }
   
    }
}

@media screen and (min-width: 768px){

    .presentation{

    &__container{
        margin-top: 15%;
    }
    &__text{
        width: 50%;
        height: auto;
    }
    &__name{
        font-size: 30px;
    }

    &__job{
        font-size: 25px;
    }

    &__download{
        font-size: 21px;
    }

    &__availability{
        font-size: 22px;
    }

    &__city{
        font-size: 22px;
    }

    &__logo{
        width : 40px;
    }
    
    }

}

@media screen and (min-width: 1200px){
    .presentation{

        &__container{
            width: 45%;
            height: 40%;
        }

        &__name{
            font-size: 35px;
        }

        &__job{
            font-size: 25px;
        }
    
        &__download{
            font-size: 15px;
        }
    
        &__availability{
            font-size: 17px;
        }
    
        &__city{
            font-size: 17px;
        }
    }
 
}

@media screen and (min-width: 1450px){
    .presentation{

        &__container{
            width: 40%;
            height: 45%;
        }
    }
}


}