.email-button {
  display: inline-block;
  margin: 5px;
  background-color: rgb(224, 224, 224);
  color: rgb(31, 31, 101);
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.email-button:hover {
  background-color: rgb(31, 31, 101);
  color : white
}
  