.contact{
    width : 100vw;
    height : 50vh;
    background-color: rgb(224, 224, 224);
    color: rgb(31,31,101);
    padding : 1px;

    &__container{
        width:100%;
        display : flex;
        flex-direction : column;
        justify-content : space-around;
        align-items : center;
        gap : 15px;
        :hover{
            -webkit-transform: scale(1.1);
            transform: scale(1.05);
        }
    }
    &__title{
        font-size: 25px;
        text-align : center;
        margin: none;
    }

    &__box{
        width: 80%;
        border-radius: 10px;
        box-shadow: 10px 5px 5px ;
        margin : 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom : solid 2px rgb(139, 0, 139);

    }

    &__box-logo{
        width : 10%;
        height : 2%;
        padding : 2px;
    }

    &__box-text{
        font-size : 1rem;
        padding : 2px;
        text-align: center;
        font-weight: bold;
    }   

    @media screen and (min-width: 768px){
        .contact{

        &__container{
            display : flex;
            flex-direction : row;
            justify-content : space-around;
            align-items : center;
            flex-wrap: wrap;
        }

        &__box{
            width: 40%;
            height: 50%;
            margin : 2px;
            gap: 10px;
        }

        &__box-text{
            font-size: 1.2rem;
        }

        }
    }


    @media screen and (min-width: 1200px){
        .contact{
        &__title{
            font-size: 40px;
        }

        

        &__box{
            width: 40%;
            height: 50%;
            margin : 2px;
            gap: 10px;
        }

        &__box-text{
            font-size: 1.5rem;
        }

        }
    }
}